In [2]:
# sorting the data, extracting only needed columns

import pandas as pd
data = pd.read_csv (r'C:\Users\Tanha\Downloads\OpenData_ParksProperties.csv)   
df = pd.DataFrame(data, columns= ['NAME311','BOROUGH','ACRES'])
print (df)

                                                NAME311 BOROUGH   ACRES
0                          Seaside Wildlife Nature Park       R  20.907
1                                      Strippoli Square       Q   0.061
2                                     D'Emic Playground       B   1.130
3                                          Harding Park       X   2.160
4                                  Wakefield Playground       X   1.104
...                                                 ...     ...     ...
2010                        Joseph Daniel Wilson Garden       M   0.117
2011                           Fiorello La Guardia Park       M   0.545
2012                                               Park       Q   0.006
2013  All People's Church of the Apostolic Faith Com...       B   0.064
2014                                  Mount Hope Garden       X   0.280

[2015 rows x 3 columns]

In [3]:
# all the names of the columns

data.keys()

Index(['the_geom', 'GISPROPNUM', 'OBJECTID', 'OMPPROPID', 'DEPARTMENT',
       'PERMITDIST', 'PERMITPARE', 'PARENTID', 'LOCATION', 'COMMUNITYB',
       'COUNCILDIS', 'PRECINCT', 'ZIPCODE', 'BOROUGH', 'ACRES', 'RETIRED',
       'EAPPLY', 'PIP_RATABL', 'GISOBJID', 'CLASS', 'COMMISSION', 'ACQUISITIO',
       'ADDRESS', 'JURISDICTI', 'MAPPED', 'NAME311', 'PERMIT', 'SIGNNAME',
       'SUBCATEGOR', 'TYPECATEGO', 'URL', 'WATERFRONT', 'NYS_ASSEMB',
       'NYS_SENATE', 'US_CONGRES', 'GlobalID'],
      dtype='object')

In [11]:
# the number in acres in every borough

import pandas as pd
data = pd.read_csv (r'C:\Users\Tanha\Downloads\OpenData_ParksProperties.csv') 

df = pd.DataFrame(data, columns= ['BOROUGH','ACRES'])

df['ACRES'] = df['ACRES'].replace(',', '')

print(df['ACRES'])

0       20.907
1        0.061
2        1.130
3        2.160
4        1.104
         ...
2010     0.117
2011     0.545
2012     0.006
2013     0.064
2014     0.280
Name: ACRES, Length: 2015, dtype: float64

In [41]:
# the sum of total acres in manhattan
import pandas as pd
data = pd.read_csv(
    r'C:\Users\Tanha\Downloads\OpenData_ParksProperties.csv')

df = pd.DataFrame(data, columns=['BOROUGH', 'ACRES'])

for i in range(len(df['ACRES'])):
    if ',' in str(df['ACRES'][i]):
        df['ACRES'][i] = df['ACRES'][i].replace(',', '')

manhattan_df = df[df['BOROUGH'] == 'M'].copy()

manhattan_df ['ACRES'] = manhattan_df ['ACRES'].astype(float)
sum_column = manhattan_df ["ACRES"].sum(axis=0)

print(sum_column)

2871.13

In [42]:
# checking to see if there are any ',' in the numbers of acres
for entry in df['ACRES']:
    if ',' in str(entry):
        print(entry)

In [30]:
import numpy as np
np.sort(df['ACRES'])

array([1.000000e-03, 1.000000e-03, 1.000000e-03, ..., 9.204260e+02,
       1.146430e+03, 2.771747e+03])

In [64]:
manhattan_df

     BOROUGH  ACRES
10         M  0.090
14         M  1.275
18         M  1.451
28         M  0.385
30         M  0.718
...      ...    ...
1986       M  0.101
1998       M  1.945
2009       M  0.550
2010       M  0.117
2011       M  0.545

[386 rows x 2 columns]

In [60]:
df.reset_index()

      index BOROUGH   ACRES
0         0       R  20.907
1         1       Q   0.061
2         2       B   1.130
3         3       X   2.160
4         4       X   1.104
...     ...     ...     ...
2010   2010       M   0.117
2011   2011       M   0.545
2012   2012       Q   0.006
2013   2013       B   0.064
2014   2014       X   0.280

[2015 rows x 3 columns]

In [8]:
df['BOROUGH'].unique()

array(['R', 'Q', 'B', 'X', 'M'], dtype=object)

In [69]:
for entry in df["ACRES"]:
    if "," in str(entry):
        print(entry)